@main-color: #17AC5B;
@bg-color: #f3f3f3;

ul.cg-tab-navigation-tab-list {
  width: 100%;
  margin: 0;
  padding: 0;
  background: @bg-color;
  text-align: center;
}
li.cg-tab-navigation-tab {
  display: inline-block;
  padding: 10px 20px;
  background: @bg-color;

  .select {

  }
}

.cg-tab-navigation-panel-list p,
.cg-tab-navigation-panel-list h1 {
  margin: 0;
}
.cg-tab-navigation-panel-list {
  padding: 10px;
  background: @bg-color;
}