@prefix: cg-tabs;
@text-color: #29303D;
@bg-panel-color: #EFF0F2;
@bg-tab-color: wheat;
@bg-tab-color-selected: firebrick;
@border-color: white;
@border: 2px solid @border-color;

.@{prefix} {
  position: relative;
  width: 100%;
  color: @text-color;

  .@{prefix}-tab-list-container {
    background: @border-color;
    position: relative;
    width: 100%;

    .@{prefix}-tab-list {
      border-bottom: @border;
    }
  }

  ul.@{prefix}-tab-list-content {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: left;
    white-space: nowrap;

    li.@{prefix}-tab {
      height: 100%;
      position: relative;
      display: inline-block;
      padding: 15px 20px;
      cursor: pointer;
      user-select: none;
      background: @bg-tab-color;
      margin-right: 2px;

      &.@{prefix}-tab-select {
        background: @bg-tab-color-selected;
        color: white;
      }

      &:focus {
        outline: none;
      }

      &:not(.is-mouse-focused):focus {
        outline: 1px dashed @bg-tab-color-selected;
      }
    }
  }

  .@{prefix}-panel-list-container {
    background: @bg-panel-color;
    position: relative;
    width: 100%;
    overflow: auto;

    .@{prefix}-panel-list {
      padding: 20px;
      min-height: 100%;
      box-sizing: border-box;
    }
  }
}