@main-color: #17AC5B;
@bg-color: #f3f3f3;
@tab-color: #f3f3f3;
@tab-hover-color: #ddd;

.cg-tabs {
  width: 800px;
  margin: 0 auto;
}
ul.cg-tabs-tab-list {
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
  text-align: left;
}
li.cg-tabs-tab {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 5px;
  background: @tab-hover-color;
  cursor: pointer;
  user-select: none;

  &:hover {
    background: @tab-hover-color;
  }
}
li.cg-tabs-tab.select {
  background: @tab-color;
}

.cg-tabs-panel-list p,
.cg-tabs-panel-list h1 {
  margin: 0;
}
.cg-tabs-panel-list {
  padding: 20px;
  background: @bg-color;
}